.fero {
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    width: 1501;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fot {
    background-color: black;
}